/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2019, 13:13:28
    Author     : 118315521
*/

h1 {
    font-family: sans-serif;
    align:centre
}

body{
    background-color: #edf2f4;
    font-family: sans-serif;
}
