/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-Feb-2019, 13:13:28
    Author     : 118315521
*/

h1 {
    font-family: serif;
    text-align: center;
}

body{
    background-color: #edf2f4;
}

p{ 
    font-family: "Times New Roman";
    font-size: 20px;
}

div.gallery {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.back {
      position: absolute;
      top: 0;
      left: 0;
      text-align: center;
      display: block;
      padding: 6px;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background: white;
      font-weight: bold;
      font-size: 15px;
      color: black;
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out;
      background-color: #edf2f4;
    }
    .back:hover {
      background: #eee;
      background-color: #edf2f4;
    }
    
    
    div.gallery {
      margin: block;
      border: 1px solid #ccc;
      
      width: 180px;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }
    
    img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
    }